.side-bar {
  position: fixed;
  top: 0px;
  width: 14rem;
  height: 100vh;
  background-color: var(--sb);
  z-index: 2;
  padding: 3rem .8rem;

}

.hidden {
  width: 1.5rem;
}

.side-bar-header {
  margin: .8rem 0rem;
  font-size: .8rem;
  text-transform: uppercase;
}

.side-bar-icon {
  position: absolute;
  top: 3.3rem;
  right: .5rem;
}